.container {
  width: 1000px;
  margin-top: 50px;
}

.container-cards {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cocktail-body {
  display: flex;
  .cocktail-body-text {
    padding-left: 20px;
  }
}
